footer{
    height: 90px;
    background: #FFD366;
    margin-top:20px;
    padding: 10px;
    img{
       
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
    }
}